body {
  background-color: #e1d6c0;
  color:#806456;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Suez One', serif;
}

a {
  text-decoration: none;
  color:#806456;
}
a:hover {
  color:#806456 * 1.2;
}
