.o-header {
  position: fixed;
  width: 100%;
  display: flex;
  height: 75px;
  @include media-breakpoint-only(xs) {
      height: 45px;
  }
  align-items: center;
  justify-content: center;

  .o-header-nav {
      @include media-breakpoint-only(xs) {
          flex-basis: 0;
      }
      display: flex;
      align-items: center;
  }

  .s-icon-down {
    width: calc(20px + (100vw - 320px) / 120);
    height: calc(8px + (100vw - 320px) / 120);
    @include media-breakpoint-up(sm) {
      display: none !important;
    }
  }
  
  .s-icon-cart-empty {
    width: calc(30px + (100vw - 320px) / 120);
    height: calc(30px + (100vw - 320px) / 120);
    @include media-breakpoint-up(lg) {
      width: 50px;
      height: 50px;
    }
  }
}

.o-header-link {
  font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  h3 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    h3 {
      font-size: 20px;
    }
  }
}

.o-header-logo {
  flex-grow: 1.4;
  @include media-breakpoint-only(xs) {
    order: 2;
    justify-content: center;
  }
  @include media-breakpoint-up(sm) {
    margin-left: 20px;
  }
}

.o-header-menu {
  .o-header-link {
    margin-left: 50px;
  }

  @include media-breakpoint-only(xs) {
    order: 1;
    flex-grow: 1;

    .o-header-link {
        margin-left: 15px;
        &:nth-of-type(2), &:nth-of-type(3) {
          display: none !important;
        }
    }
  }
}

.o-header-cart {
  a {
    padding-left: 30px;
    padding-right: 20px;
  }
  @include media-breakpoint-only(xs) {
    order: 3;
    flex-grow: 1;
    justify-content: flex-end;
  }
}