// wrapper-content contains common styles for the outermost container of all wrappers.
// For example, this would be a good place to add margins around the entire content.
.o-wrapper-container {
  @extend .container-fluid;
  @include media-breakpoint-up(lg) {
    //padding: 0 50px;
  }
  @include media-breakpoint-up(xl) {
    //padding: 0 100px;
  }
}

.o-wrapper-hero {
  @include media-breakpoint-up(lg) {
    position: relative;
    width: 100%;
    height: 80vh;
    min-height: 800px;

    display: flex;
  }
  
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }
}

.o-wrapper-hero-image {
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
    width: auto;
    max-height: 100%;
  }
  
  @include media-breakpoint-down(md) {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.o-wrapper-hero-cta {
  @extend .col-12;
  @extend .col-lg-6;
  justify-content: center;
  text-shadow: 0 0 0.5em $light-color;
}

.o-wrapper-row {
  @extend .row;
  align-items: center;
  margin-bottom: 50px;
}

.o-wrapper-col {
  @extend .col;
}

.o-wrapper-col-fullwidth {
  @extend .col-12;
}

.o-wrapper-col-mobilefullwidth {
  @extend .col-12;
  @extend .col-lg-6;
}

.o-wrapper-col-mobile-hide {
  @extend .col;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.o-content-cta-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    @include scale-min-max(font-size, 36, 55);
    padding-bottom: 35px;
  }

  p {
      @include scale-min-max(font-size, 20, 28);
      line-height: 150%;
      padding-bottom: 50px;
  }

  a {
      @include scale-min-max(font-size, 24, 36);
      font-weight: bold;
  }

  @include media-breakpoint-down(md) {
    padding: 0 50px;
  }
}

.o-content-centerspread {
  position: relative;
  padding: 0;
  img {
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  h1 {
    flex-basis: 40%;
    color: #f5f5f5;
    @include scale-min-max(font-size, 36, 55);
    text-align: center;
  }
}

.o-content-background-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.o-content-image-collage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;

  a {
    flex-basis: 20%;

    @include media-breakpoint-down(md) {
      flex-basis: 30%;
    }

    img {
      width: 100%;
    }
  }
}

.o-content-subscribe {
  text-align: center;
  @include media-breakpoint-up(xl) {
    margin: 0 50px;
  }
  
  h1{
    @include scale-min-max(font-size, 36, 55);
    padding-bottom: 25px;
  }

  p {
    text-align: center;
    @include scale-min-max(font-size, 20, 28);
    line-height: 150%;
    padding-bottom: 40px;
  }

  input {
    border: 4px solid $dark-color;
    font-size: 24px;
    border-radius: 15px;
    background-color: $light-color;
    width: 80%;
    height: 45px;
    box-sizing: content-box;
    margin-bottom: 15px;
  }

  input::placeholder {
    padding-left: 10px;
    text-align: left;
    color: $dark-color;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    background-color: $dark-color;
    //border: 4px solid $dark-color;
    color: $light-color;
    font-size: 24px;
    border-radius: 15px;
    width: 80%;
    height: 50px;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
  }

  button:hover {
    background-color: $dark-color * 1.2;
  }

  button:active {
    background-color: $dark-color * 1.2;
  }

  .notification{
    font-size: 18px;
    padding-top: 25px;
    line-height: normal;
    text-align: center;
  }
}

.o-content-footernav {
  @include media-breakpoint-down(md) {
    margin: 0 100px;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 10px;
  }

  .o-content-footernav-site {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 250px;
    div {
      width: 50%;
    }
    @include scale-min-max(font-size, 24, 32);
    margin-bottom: 50px;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .o-content-footernav-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a {
      @include scale-min-max(width, 60, 75);
      @include scale-min-max(height, 60, 75);
    }
  }
}

.o-display-tablet-up {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.o-display-mobile-down {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.o-product-details-wrapper {
  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: auto;
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.o-product-details-text {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  @include scale-min-max(margin-bottom, 30, 50);
  h2 {
    @include scale-min-max(font-size, 32, 36);
    margin-bottom: 20px;
  }
  p {
    @include scale-min-max(font-size, 20, 24);
    line-height: 1.5em;
    margin-bottom: 10px;
  }
}

.o-product-color-picker {
  @include media-breakpoint-down(md) {
    text-align: center;
    order: -1;
  }
  margin-bottom: 20px;
  button {
    margin-right: 10px;
    &:last-of-type() {
      margin-right: 0;
    }
  }
}

.o-product-gender-picker {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  margin-bottom: 20px;
  @include scale-min-max(font-size, 18, 24);
  .o-button-text {
    @include scale-min-max(font-size, 16, 20);
  }
}

.o-product-size-picker {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  margin-bottom: 20px;
  button {
    margin-right: 5px;
    @include scale-min-max(width, 30, 50);
    @include scale-min-max(height, 30, 50);
    @include scale-min-max(border-radius, 12, 15);
    @include scale-min-max(font-size, 18, 24);
    &:last-of-type() {
      margin-right: 0;
    }
  }
}

.o-product-buy-wrapper {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  width: 100%;
  button {
    width: 100%;
    margin-bottom: 20px;
  }
}

@mixin button-circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-width: 3px;
  border-color: #bbbbbb;
}

.o-button-circle {
  @include button-circle;
  
  &--blue {
    background: #add8e6;
    background: #add8e6 * 0.9;
  }
  &--black {
    background: #545454;
    border-color: #545454 * 0.9;
  }
  &--red {
    background: #ff5757;
    border-color: #ff5757 * 0.9;
  }
  &--yellow {
    background: #ffbd59;
    border-color: #ffbd59 * 0.9;
  }
  &--green {
    background: #bab86c;
    border-color: #bab86c * 0.9;
  }

  &--selected {
    border-color: #ffffff;
  }
}

.o-button-primary {
  background-color: $dark-color;
  color: $light-color;
  font-size: 24px;
  border-radius: 15px;
  height: 54px;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: $dark-color * 1.2;
  }

  &:active {
    background-color: $dark-color * 1.2;
  }
}

@mixin button-toggle {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-width: 3px;
  box-sizing: content-box;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;

  background-color: $light-color;
  border-color: $dark-color;
  color: $dark-color;
  
  &:hover {
    border-color: $dark-color * 1.2;
    color: $dark-color * 1.2;
  }

  &:active {
    border-color: $dark-color * 1.2;
    color: $dark-color * 1.2;
  }
}
.o-button-toggle {
  @include button-toggle;

  &--selected {
    background-color: $dark-color;
    border-color: $dark-color;
    color: $light-color;
    &:hover {
      background-color: $dark-color * 1.2;
      border-color: $dark-color * 1.2;
      color: $light-color;
    }
  
    &:active {
      background-color: $dark-color * 1.2;
      border-color: $dark-color * 1.2;
      color: $light-color;
    }
  }
}

@mixin button-toggle-text {
  margin-right: 20px;
  padding: 0;
  
  background: none;
  border: none;
  color: $dark-color;
  &:hover {
    opacity: 0.8;
  }
}
.o-button-toggle-text {
  @include button-toggle-text;
  &--selected {
    border-bottom: 3px solid $dark-color;
    padding-bottom: 3px;
    font-weight: bold;
  }
}

@mixin button-text {
  background: none;
  border: none;
  color: $dark-color;
  &:hover {
    opacity: 0.8;
  }
}

.o-button-text {
  @include button-text;
}

.o-product-hero-wrapper {
  background: url("https://gdurl.com/V2Uf");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 0;
  @media only screen and (orientation: landscape) {
    padding-bottom: 56.25%;  
  }
  @media only screen and (orientation: portrait) {
    padding-bottom: 177%;
  }
}

.modal-open {
  overflow: hidden;
}

.o-modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}

.o-sizing-chart-modal {
  max-width: 300px;
  margin: 10vh auto;
  background-color: darkgray;
  color: white;
  border-radius: 8px;
  text-align: center;

  font-size: 0.9rem;

  h2 {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  table {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  th, td:first-child() {
    font-weight: bold;
    font-size: 1.1em;
  }

  p {
    font-size: 0.7em;
    padding-bottom: 20px;
  }
}