.s-icon-down::after {
  @include media-breakpoint-down(xs) {
    display: inline-block;
    content: url("../assets/icons/down-arrow.svg");
    padding-left: 2px;
    width: 18px;
  }
}

.s-icon-cart-empty {
  content: url("../assets/icons/empty-cart.png");
}

.s-icon-insta {
  content: url("../assets/icons/social/insta.svg");
}

.s-icon-fb {
  content: url("../assets/icons/social/fb.svg");
}

.s-icon-twitter {
  content: url("../assets/icons/social/twitter.svg");
}