.s-icon-down {
  content:url("../assets/icons/down-arrow.svg");
}

.s-icon-cart-empty {
  content:url("../assets/icons/empty-cart.png");
}

.s-icon-insta {
  content: url("../assets/icons/social/insta.svg");
}

.s-icon-fb {
  content: url("../assets/icons/social/fb.svg");
}

.s-icon-twitter {
  content: url("../assets/icons/social/twitter.svg");
}