.s-background-product-details-male-black {
  background-image: url("https://gdurl.com/keYi");
}
.s-background-product-details-male-blue {
  background-image: url("https://gdurl.com/TNcy");
}
.s-background-product-details-male-green {
  background-image: url("https://gdurl.com/5IwH");
}
.s-background-product-details-male-red {
  background-image: url("https://gdurl.com/qvnS");
}
.s-background-product-details-male-yellow {
  background-image: url("https://gdurl.com/8xeT");
}

.s-background-product-details-female-black {
  background-image: url("https://gdurl.com/z2Ke");
}
.s-background-product-details-female-blue {
  background-image: url("https://gdurl.com/Lln2");
}
.s-background-product-details-female-green {
  background-image: url("https://gdurl.com/0eca");
}
.s-background-product-details-female-red {
  background-image: url("https://gdurl.com/GM0u");
}
.s-background-product-details-female-yellow {
  background-image: url("https://gdurl.com/3T-E");
}

.s-background-product-folded {
  background-image: url("https://gdurl.com/6bzP");
}
