.s-background-product-details-male-black {
  background-image: url("https://drive.google.com/uc?id=14SxrHWEDKZHvIFdKf7cuHnOv4nM1rYvU");
}
.s-background-product-details-male-blue {
  background-image: url("https://drive.google.com/uc?id=13reVFIOs5XuKMKMDkAN4GEmjnvQe84rV");
}
.s-background-product-details-male-green {
  background-image: url("https://drive.google.com/uc?id=1gT8-__eIMmtW-_WgLalGSEjItezJfQ_6");
}
.s-background-product-details-male-red {
  background-image: url("https://drive.google.com/uc?id=1UNv-bpqQuuaLo3u_lpRGvwcMhIh-bZs2");
}
.s-background-product-details-male-yellow {
  background-image: url("https://drive.google.com/uc?id=1E-W6OP4yukl5W1p2N76N8eXuucoi6Qfo");
}

.s-background-product-details-female-black {
  background-image: url("https://drive.google.com/uc?id=1Q1gF3Hs6Zxv_RiIrU3ofmGZTdTA-rlu2");
}
.s-background-product-details-female-blue {
  background-image: url("https://drive.google.com/uc?id=1YgNHQYN0htxHku056bbLv1NMSvFpgwtP");
}
.s-background-product-details-female-green {
  background-image: url("https://drive.google.com/uc?id=1od1JOh-hIhmiDva8bCXW-OHlGQX0y7Vc");
}
.s-background-product-details-female-red {
  background-image: url("https://drive.google.com/uc?id=1f6hCrrGielXxHHxcne70eNK-OwC3GxPd");
}
.s-background-product-details-female-yellow {
  background-image: url("https://drive.google.com/uc?id=13ihBK58_a4TOSVPh2rgCzlJs-7bJZda7");
}

.s-background-product-folded {
  background-image: url("https://drive.google.com/uc?id=1TdGLYpUKH-zF2oYPgygDT9Y7b6QPZGy6");
}
